/* 
    Document   : table
    Created on : 23/10/2012, 23:02:51
    Author     : Lucas
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

table.default {
    border-style: ridge;
    border-width: 0px;
    border-collapse: collapse;
    font-family: sans-serif;
    font-size: 12px;
}

table.default thead th, table.default tbody th, table.default tfoot td {
    background: #CCCCCC;
    border-style: ridge;
    border-width: 0px;
    text-align: center;
    vertical-align: bottom;
}

table.default tbody th {
    text-align: center;
    width: 20px;
}

table.default tbody td {
    /*background: #EEEEEE;*/
    vertical-align: bottom;
}

table.default tbody td {
    padding: 0 3px;
    border: 1px solid #EEEEEE;
}
    