table.lista {
    
    width: 100%;
    
}

table.lista thead tr {
    
    background-color: #E3E3E3;
    
}

table.lista tbody tr {
    
    text-align: center;
    
}

table.lista tbody tr:nth-child(odd) {
    
    background-color: #F4F4F4;
    
}

table.lista tfoot tr {
    
    background-color: #E3E3E3;
    
}

table.lista2 {
    
    width: 100%;
    
}

table.lista2 tbody tr:nth-child(odd) {
    
    background-color: #E3E3E3;
    
}

table.lista2 tbody tr:nth-child(even) {
    
    background-color: #F4F4F4;
    
}