#ui-datepicker-div{
    
    font: 90% "Trebuchet MS", sans-serif;
    
}

a {
    
  color: #0A4D8C  

}

a:hover {
    
    text-decoration: none;
    
}

h1 {
    
    font-size: 16px;
    
}

input[type="button"], input[type="file"], input[type="submit"] {
    background: none repeat scroll 0 0 #E5E5E5;
    border: 1px solid #EEEEEE;
    cursor: pointer;
    height: 30px;
}
